* {
    margin: 0 Auto;
    max-width: 1600px;
}

:root {
    --primary-background-color: #1A0B2E;
    --primary-color: #FFFFFF;
    --secondary-color: #ffffffcc;
    --third-color: #00FF88;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared CSS */
.Linear {
    background-image: linear-gradient(-150deg, #9100F8, #FB09B4, #fff236);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
    border-radius: 50px;
    padding: 4px 16px;
    gap: 5px;
}

.magic {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nav CSS */

nav {
    background-color: var(--primary-background-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 200px;
    color: var(--primary-color);
}

nav ul {
    gap: 32px;
}

nav li {
    list-style: none;
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 120%;
}

span {
    background: linear-gradient(180deg, #9100F8, #FB09B4, #F7E93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Hero CSS */

.hero {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    /* background-position: center; */
    flex-direction: column;
    padding: 101px 505px;
}

.hero h1 {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 40px;
}

.hero p {
    color: var(--secondary-color);
    margin-top: 8px;
    font-size: 1rem;
}

.mic {
    width: 350px;
    height: 350px;
    background-image: linear-gradient(-150deg, #9100F8, #FB09B4, #fff236);
    border: 8px Solid #2A186C;
    border-radius: 50%;
}

.buttons {
    padding: 24px 118px 0 118px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.buttons .spotify {
    gap: 5px;
    justify-content: space-around;
    padding: 12px 20px;
}

.mail {
    background-color: rgba(0, 0, 0, 0.021);
    color: var(--third-color);
    border: 2px solid var(--third-color);
    border-radius: 50px;
    gap: 5px;
    justify-content: space-around;
    padding: 12px 20px;
    font-size: 1.2rem;
}
