:root {
    --primary-color: #FFFFFF;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    /* max-width: 1600px; */
    margin: 0 auto;
}

/* Shared Style  */

.Linear {
    background-image: linear-gradient(-150deg, #9100F8, #FB09B4, #fff236);
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    border-radius: 50px;
}

.magic {
    display: flex;
    justify-content: center;
    align-items: center;

}



/* Nav Menu Style */



nav {
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px 200px;
}

.Logo {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 700;
}


.span {
    background: linear-gradient(180deg, #9100F8, #FB09B4, #F7E93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.menu {
    display: flex;
    list-style: none;
    color: var(--primary-color);
    gap: 32px;
    font-size: 1rem;
}

.Linear {
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Linear img {
    width: 20px;
    height: 20px;
}

.Linear:hover,
.Logo:hover {
    cursor: grab;
}



/* Banner CSS */

.banner {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
}

.banner-mic {
    padding: 101px 525px;
}

.mic {
    width: 350px;
    height: 350px;
    background-image: linear-gradient(-150deg, #9100F8, #FB09B4, #fff236);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px Solid #2A186C;
    border-radius: 50%;
}

#Challenge {
    background-color: #00FF88;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 8px 16px;
    position: absolute;
}

.hudai {
    flex-direction: column;
}

.title {
    font-size: 3.75rem;
    font-weight: bolder;
    color: var(--primary-color);
    margin-top: 40px;

}

.desc {
    margin-top: 8px;
    color: var(--primary-color);
    font: 1rem;
}

.button {
    margin-top: 24px;
    padding: 0 80px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotify {
    gap: 5px;
    justify-content: space-around;
}

.mail {
    background-color: rgba(0, 0, 0, 0.021);
    color: #00FF88;
    border: 2px solid #00FF88;
    border-radius: 50px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.mail,
.spotify {
    font-size: 1rem;
    font-weight: 600;
}

/* About Section CSS */

.about {
    padding: 20px 200px;
    background-color: #1A0B2E;

}

.about-desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
}

.about-desc h1 {
    font-size: 3rem;

}

.about-desc p {
    margin-top: 16px;
    font-size: 1rem;
    line-height: 20px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.151);
}

.magi {
    border: 20px solid red;
}

.achievment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 120px 0;
}

.ac {
    text-align: center;
}

.ac h1 {
    color: #00FF88;
}

.ac p {
    margin-top: 16px;
    color: var(--primary-color);
}

/* Why Choose Section CSS */
.whychoose {
    background-color: #230E3D;
    color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(4 1fr);
    gap: 30px;
}

.card {
    background-color: #351165;
    border-radius: 40px;
}


/* Featured CSS */
.Featured {
    background-color: #1A0B2E;
    padding: 120px 200px;
}

.f-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.card2 {
    background-color: #250D44;

}


.host {
    background-color: #250D44;
}

/* footer CSS */
.footer {
    background-image: url(./assets/footer-bg.png);
    background-size: contain;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Logo2 {
    font-size: 5rem;
}

.footer-head {
    padding: 120px;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
}

.foot-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.foot-image h5 {

    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footnote {
    margin-top: 32px;
    font-size: 1rem;
}