* {
    margin: 0 Auto;
    max-width: 1600px;
}

:root {
    --primary-background-color: #1A0B2E;
    --secondary-background-color: #250D44;
    --primary-color: #FFFFFF;
    --secondary-color: #ffffffcc;
    --third-color: #00FF88;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared CSS */
.Linear {
    background-image: linear-gradient(-150deg, #9100F8, #FB09B4, #fff236);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
    border-radius: 50px;
    padding: 4px 16px;
    gap: 5px;
}

#gr {
    background: linear-gradient(180deg, #9100F8, #FB09B4, #F7E93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.magic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thin {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    color: var(--secondary-color);
}

.Title {
    color: var(--primary-color);
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}

.Title2 {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 700;
}

/* Nav CSS */

nav {
    background-color: var(--primary-background-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 45px;
    color: var(--primary-color);
    position: sticky;
    top: 0px;
    transition: background-image 0.5s ease;

}
Animations
nav:hover {
    background-image: linear-gradient(150deg, #412753, #af057f, #da29f1, rgb(255, 255, 42));
}

nav:hover h1 {
    transform: translateX(-10px);
    transform: scale(1.2);
}



nav ul {
    gap: 32px;
}

nav li {
    list-style: none;
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 120%;
}



/* Hero CSS */

.hero {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    padding: 101px 505px;
}

.hero h1 {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 40px;
}

.hero p {
    color: var(--secondary-color);
    margin-top: 8px;
}

.mic {
    width: 21.90rem;
    height: 21.90rem;
    background-image: linear-gradient(-150deg, #9100F8, #FB09B4, #fff236);
    border: 8px Solid #2A186C;
    border-radius: 50%;
    position: relative;
}

.buttons {
    padding: 24px 118px 0 118px;
    gap: 8px;
}

.buttons {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
}

.spotify {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail {
    background-color: rgba(0, 0, 0, 0.021);
    color: var(--third-color);
    border: 2px solid var(--third-color);
    border-radius: 50px;
    gap: 5px;
    justify-content: space-around;
    padding: 12px 20px;
    font-size: 1.2rem;
}

/* Why Choose Section CSS */

.whychoose {
    background-color: var(--secondary-background-color);
    padding: 120px 200px;
}

.cardc2 {
    margin-top: 40px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.card2 {
    background-color: #40036960;
    border-radius: 40px;
}

.big {
    grid-row: span 2;
    padding: 108px 40px;
    margin: 0;

}

.medium {
    grid-column: span 2;
    padding: 40px;
    margin: 0;
}

.small {
    grid-row: span 1;
    padding: 40px;
    margin: 0;
}

.card2 h1,
.card2 p {
    margin-top: 16px;
    line-height: 24px;
}


/* About Podcast CSS */

.about-pod {
    background-color: var(--primary-background-color);
    flex-direction: column;
}

.about-pod h1 {
    color: var(--primary-color);
    text-align: center;
}

.about-pod .desc {
    color: var(--secondary-color);
    text-align: center;
    margin-top: 16px;
    font-size: 1rem;
    line-height: 25px;
    padding-bottom: 40px;
}

.about-details {
    padding: 50px 200px 50px 200px;
    border-bottom: 2px solid rgba(105, 104, 104, 0.355);
}

.achievment {
    color: var(--secondary-color);
    margin: 80px 200px 120px 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(8, 1fr); */
    gap: 180px;
    text-align: center;
}


.achievment p {
    margin-top: 16px;
}

.achievment h1 {
    color: var(--third-color);
}

/* Featured CSS */


.FeaturedB {
    background-color: var(--primary-background-color);
    padding: 120px 200px;
}

.Featured-Card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
}

.fcard {
    background-color: var(--secondary-background-color);
    padding-top: 0;
    margin-top: 0;
    border-radius: 27px;
}

.video {
    padding-top: 0;
    margin-top: 0;
}

iframe {
    width: 100%;
    height: 16rem;
}

.fcarddesc {
    margin: 24px;
}

.fcarddesc h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.fcarddesc p {
    margin-top: 8px;
}

.duration {
    color: var(--third-color);
    margin-left: 24px;
    margin-bottom: 24px;
}

.duration img {
    margin-right: 5px;
    align-items: center;

}



.hosttab {
    margin-top: 120px;
}

.host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 40px;
    background-color: var(--secondary-background-color);
    border-radius: 40px;
    margin-top: 40px;
}

.host-details h1 {
    color: var(--primary-color);
    font-size: 2rem;
}

.host-details p {
    margin-top: 16px;
    color: var(--secondary-color);
}

.hostimg {
    margin-top: 16px;
}

.hostimg img {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #533C72;
    padding: 12px;
    border-radius: 50%;
}

/* Footer CSS */

footer {
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-size: cover;
    flex-direction: column;
    padding: 120px;
}

footer h1 {
    color: var(--primary-color);
    font-size: 5rem;
}

.footimg {
    gap: 42px;
}

.footimg h4 {
    font-size: 1rem;
    gap: 10px;
    color: var(--primary-color);
}

footer .footnote {
    margin-top: 34px;
    color: var(--secondary-color);
}

#Challenge {
    position: absolute;
    top: -35px;
    right: 15px;
    background: var(--third-color);
    color: var(--primary-background-color);
    padding: 8px 16px;
    font-size: 1.2rem;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0px 3px 27px 0px #1A0B2E;
}