* {
    margin: 0 Auto;
    max-width: 1600px;
}

:root {
    --primary-background-color: #1A0B2E;
    --secondary-background-color: #250D44;
    --primary-color: #FFFFFF;
    --secondary-color: #ffffffcc;
    --third-color: #00FF88;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared CSS */
.Linear {
    background-image: linear-gradient(-150deg, #9100F8, #FB09B4, #fff236);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
    border-radius: 50px;
    padding: 4px 16px;
    gap: 5px;
}

.magic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thin {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
}

/* Nav CSS */

nav {
    background-color: var(--primary-background-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 200px;
    color: var(--primary-color);
}

nav ul {
    gap: 32px;
}

nav li {
    list-style: none;
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 120%;
}

span {
    background: linear-gradient(180deg, #9100F8, #FB09B4, #F7E93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Hero CSS */

.hero {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    padding: 101px 505px;
}

.hero h1 {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 40px;
}

.hero p {
    color: var(--secondary-color);
    margin-top: 8px;
}

.mic {
    width: 350px;
    height: 350px;
    background-image: linear-gradient(-150deg, #9100F8, #FB09B4, #fff236);
    border: 8px Solid #2A186C;
    border-radius: 50%;
}

.buttons {
    padding: 24px 118px 0 118px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.buttons .spotify {
    gap: 5px;
    justify-content: space-around;
    padding: 12px 20px;
}

.mail {
    background-color: rgba(0, 0, 0, 0.021);
    color: var(--third-color);
    border: 2px solid var(--third-color);
    border-radius: 50px;
    gap: 5px;
    justify-content: space-around;
    padding: 12px 20px;
    font-size: 1.2rem;
}

/* About Podcast CSS */

.about-pod {
    background-color: var(--primary-background-color);
    flex-direction: column;
}

.about-pod h1 {
    color: var(--primary-color);
    text-align: center;
}

.about-pod .desc {
    color: var(--secondary-color);
    text-align: center;
    margin-top: 16px;
    font-size: 1rem;
    line-height: 25px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(105, 104, 104, 0.355);
}

.about-details {
    padding: 50px 200px 50px 200px;
}

.achievment {
    gap: 80px;
    color: var(--secondary-color);
    padding: 0 200px 120px 200px;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.achievment h1 {
    color: var(--third-color);
}

/* Featured CSS */
.Featured {
    background-color: var(--primary-background-color);
    padding: 120px 200px;
}

.Title {
    color: var(--primary-color);
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}

.cardc3 {
    margin-top: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card3 {
    background-color: var(--secondary-background-color);
    border-radius: 30px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.hosttab {
    flex-wrap: wrap;
    margin-top: 120px;
    padding: 40px;
    background-color: var(--secondary-background-color);
    border-radius: 40px;
}

.host {
    gap: 24px;
}

.host-details h1 {
    color: var(--primary-color);
    font-size: 2rem;
}

.host-details p {
    margin-top: 16px;
    color: var(--secondary-color);
}

.hostimg {
    margin-top: 16px;
}

.hostimg img {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #533C72;
    padding: 12px;
    border-radius: 50%;
}

/* Footer CSS */

footer {
    background-image: url(./assets/footer-bg.png);
    flex-direction: column;
    padding: 120px;
}

footer h1 {
    font-size: 5rem;
}

.footimg {
    gap: 42px;
}

.footimg h4 {
    font-size: 1rem;
    gap: 10px;
    color: var(--primary-color);
}

footer .footnote {
    margin-top: 34px;
    color: var(--secondary-color);
}